* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E1630;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.underline-custom {
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 4px;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #171F38;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    height: 60px;
    z-index: 11;
}


.nav-bar-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

.menu-button {
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    color: #fff;
}

.menu-button i {
    font-size: 1.5rem;
}

.menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color: #0E1630;
    padding: 1rem;
    transition: right 0.3s ease-in-out;
    z-index: 10;
}

.menu.open {
    right: 0;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1rem;
    cursor: pointer;
    color: #fff;
    border: 2px solid white;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin-top: 100px;
    color: #fff;
}

.menu li {
    padding: 0.5rem;
    border-bottom: 1px solid #444;
    font-weight: bold;
    letter-spacing: 1px;
}

.menu li:last-child {
    border-bottom: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9;
}

.footer {
    width: 100%;
    z-index: 11;
}

.card-container {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 20px;
    width: 100%;
    justify-content: space-evenly;
    gap: 20px;
}

.card-container::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 auto;
    width: 100%;
    height: 140px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: inline-block;
}

@media (min-width: 1024px) {
    .card-container {
        justify-content: center;
        overflow-x: hidden;
    }

    .card {
        width: 340px;
    }

}

@media (min-width: 993px) {
    .menu-button {
        display: none;
    }

    .nav-bar ul {
        display: flex;
        gap: 1.5rem;
        margin-left: auto;
    }

    .nav-bar li {
        list-style: none;
        font-size: 1rem;
        color: #fff;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        overflow-x: auto;
    }

}

.nav-bar li:hover {
    color: #64FFDA;
}

.fa-angle {
    font-size: 2rem;
    border: 2px solid;
}

.box-shadow-page {
    min-width: 350px;
    max-width: 1200px;
    width: 800px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    scrollbar-width: none;
}

.box-shadow-page::-webkit-scrollbar {
    display: none;
}

.box-shadow-container {
    width: 100%;
    background: #171F38;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.controls {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.control-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background: #1E2A47;
    border-radius: 10px;
    flex-direction: column;
    min-width: 300px;
}

.control {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type=range] {
    width: 200px;
}

.colorOrganizer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

input[type=color] {
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    z-index: -1;
}

.colorFiller {
    width: 40px;
    height: 40px;
    z-index: 1;
}

.preview {
    width: 70%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #1E2A47;
    border-radius: 15px;
    margin-top: 20px;
}

.shadow-box {
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .box-shadow-page {
        width: 100%;
    }

    .box-shadow-container {
        flex-wrap: wrap;
        gap: 50px;
    }
}

@media (min-width: 350px) and (max-width: 400px) {
    .box-shadow-page {
        margin-top: 250px;
    }

    .box-shadow-container {
        width: 100%;
        gap: 0;
    }

    .controls {
        gap: 10px;
    }
}

@media (min-height: 700px) and (max-height: 900px) {
    .box-shadow-page {
        margin-top: 150px;
    }

    .controls {
        gap: 10px;
    }
}

.border-page {
    width: 600px;
    min-width: 350px;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    scrollbar-width: none;
}

.border-page::-webkit-scrollbar {
    display: none;
}

.border-container {
    width: 100%;
    background: #171F38;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.controls {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.control-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background: #1E2A47;
    border-radius: 10px;
    flex-direction: column;
    min-width: 300px;
}

.control {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type=range],
select {
    width: 200px;
}

.preview {
    width: 70%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #1E2A47;
    border-radius: 15px;
    margin-top: 20px;
}

.border-box {
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 15px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .border-page {
        width: 100%;
    }

    .border-container {
        flex-wrap: wrap;
        gap: 50px;
    }
}

@media (min-width: 350px) and (max-width: 400px) {

    .border-container {
        width: 100%;
        gap: 0;
    }

    .controls {
        gap: 10px;
    }
}

@media (min-height: 700px) and (max-height: 900px) {

    .controls {
        gap: 10px;
    }
}

.gradient-page {
    width: 100%;
    min-width: 350px;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    scrollbar-width: none;
}

.gradient-page::-webkit-scrollbar {
    display: none;
}

.gradient-container {
    width: 100%;
    background: #171F38;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.controls {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.control-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background: #1E2A47;
    border-radius: 10px;
    flex-direction: column;
    min-width: 300px;
}

.control {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type=range] {
    width: 200px;
}

.preview {
    width: 70%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #1E2A47;
    border-radius: 15px;
    margin-top: 20px;
}

.gradient-box {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .gradient-page {
        width: 100%;
    }

    .gradient-container {
        flex-wrap: wrap;
        gap: 50px;
    }
}

@media (min-width: 350px) and (max-width: 400px) {
    .gradient-page {
        margin-top: 250px;
    }

    .gradient-container {
        width: 100%;
        gap: 0;
    }

    .controls {
        gap: 10px;
    }
}

@media (min-height: 700px) and (max-height: 900px) {
    .gradient-page {
        margin-top: 150px;
    }

    .controls {
        gap: 10px;
    }
}

.converter-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.converter-card {
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.input-group label {
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #90d201;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.swap-button {
    background-color: #f0f4f8;
    border: none;
    cursor: pointer;
}

.swap-button i {
    color: #333;
    font-size: 1.5rem;
}

.convert-button {
    color: white;
    background-color: #1E2A47;
    padding: 0.75rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
}

.output h2 {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.live-editor-container {
    height: clamp(600px, 800px, 1000px);
}

.tab-container button {
    border-radius: 10px 10px 0 0;
    border: none;
}
